#root {
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  place-items: center;
  min-height: 100vh;
  background: white;
}

.container ul {
  margin-top: 1rem;
}

h2 {
  color: black;
  font-size:28px
}

button {
  background-color:rgb(184, 184, 184);
  font-size:24px;
  font-weight: 400;
}

.delete{
  margin-left: 1rem;
}

h4 {
  font-size:20px;
}